/VocalyzeSIVOX/

# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Eclipse template

.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea*
*.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
DInfoWritor.jar
DListor.zip
DListor/bin/execution.bat
DListor/bin/execution.jar
DListor/lib/jdom.jar
DListor/ressources/donneesMbrola/Alire.txt
DListor/ressources/donneesMbrola/rules/accronymes.txt
DListor/ressources/donneesMbrola/rules/exception.txt
DListor/ressources/donneesMbrola/rules/preposition.txt
DListor/ressources/donneesMbrola/rules/regle.txt
DListor/ressources/execution.bat
DListor/ressources/execution.sh
DListor/ressources/images/devint.ico
DListor/ressources/images/logoDeViNT.gif
DListor/ressources/images/pourIcone.png
DListor/ressources/si_vox_ihm.conf
DListor/ressources/sons/aide.wav
DListor/ressources/sons/listorAccueil.wav
DListor/ressources/sons/listorRetour.wav
DListor/ressources/styles/colorStyle1.css
DListor/ressources/styles/colorStyle2.css
DListor/ressources/styles/colorStyle3.css
DListor/ressources/styles/colorStyle4.css
DListor/ressources/styles/colorStyle5.css
DListor/ressources/styles/colorStyle6.css
DListor/ressources/styles/fontStyleGrand.css
DListor/ressources/styles/fontStyleMoyen.css
DListor/ressources/styles/fontStylePetit.css
DListor/src/compilation.bat
DListor/src/dvt/devint/ConstantesDevint.java
DListor/src/dvt/devint/KeyActionMapDevint.java
DListor/src/dvt/devint/Preferences.java
DListor/src/dvt/devint/SceneDevint.java
DListor/src/dvt/devint/menu/CstMenu.java
DListor/src/dvt/devint/menu/MenuDevintControl.java
DListor/src/execution.sh
DListor/src/listor/menu/CstMenuListor.java
DListor/src/listor/menu/MenuListor.java
DListor/src/listor/menu/MenuListorControl.java
DListor/src/listor/menu/MenuListorVue.java
DListor/src/listor/menu/model/InfoXML.java
DListor/src/listor/menu/model/MenuListorModel.java
DListor/src/listor/menu/model/OSValidator.java
DListor/src/run/Main.java
compilation.bat
entete.txt
execution.bat
execution.jar
executionJar.bat
jre.zip
jre/COPYRIGHT
jre/LICENSE
jre/README.txt
jre/THIRDPARTYLICENSEREADME-JAVAFX.txt
jre/THIRDPARTYLICENSEREADME.txt
jre/Welcome.html
jre/bin/javacpl.cpl
jre/bin/server/Xusage.txt
jre/lib/accessibility.properties
jre/lib/amd64/jvm.cfg
jre/lib/calendars.properties
jre/lib/charsets.jar
jre/lib/classlist
jre/lib/cmm/CIEXYZ.pf
jre/lib/cmm/GRAY.pf
jre/lib/cmm/LINEAR_RGB.pf
jre/lib/cmm/PYCC.pf
jre/lib/cmm/sRGB.pf
jre/lib/content-types.properties
jre/lib/currency.data
jre/lib/deploy.jar
jre/lib/deploy/ffjcext.zip
jre/lib/deploy/messages.properties
jre/lib/deploy/messages_de.properties
jre/lib/deploy/messages_es.properties
jre/lib/deploy/messages_fr.properties
jre/lib/deploy/messages_it.properties
jre/lib/deploy/messages_ja.properties
jre/lib/deploy/messages_ko.properties
jre/lib/deploy/messages_pt_BR.properties
jre/lib/deploy/messages_sv.properties
jre/lib/deploy/messages_zh_CN.properties
jre/lib/deploy/messages_zh_HK.properties
jre/lib/deploy/messages_zh_TW.properties
jre/lib/deploy/splash.gif
jre/lib/deploy/splash@2x.gif
jre/lib/deploy/splash_11-lic.gif
jre/lib/deploy/splash_11@2x-lic.gif
jre/lib/ext/access-bridge-64.jar
jre/lib/ext/cldrdata.jar
jre/lib/ext/dnsns.jar
jre/lib/ext/jaccess.jar
jre/lib/ext/jfxrt.jar
jre/lib/ext/localedata.jar
jre/lib/ext/meta-index
jre/lib/ext/nashorn.jar
jre/lib/ext/sunec.jar
jre/lib/ext/sunjce_provider.jar
jre/lib/ext/sunmscapi.jar
jre/lib/ext/sunpkcs11.jar
jre/lib/ext/zipfs.jar
jre/lib/flavormap.properties
jre/lib/fontconfig.bfc
jre/lib/fontconfig.properties.src
jre/lib/fonts/LucidaBrightDemiBold.ttf
jre/lib/fonts/LucidaBrightDemiItalic.ttf
jre/lib/fonts/LucidaBrightItalic.ttf
jre/lib/fonts/LucidaBrightRegular.ttf
jre/lib/fonts/LucidaSansDemiBold.ttf
jre/lib/fonts/LucidaSansRegular.ttf
jre/lib/fonts/LucidaTypewriterBold.ttf
jre/lib/fonts/LucidaTypewriterRegular.ttf
jre/lib/hijrah-config-umalqura.properties
jre/lib/images/cursors/cursors.properties
jre/lib/images/cursors/invalid32x32.gif
jre/lib/images/cursors/win32_CopyDrop32x32.gif
jre/lib/images/cursors/win32_CopyNoDrop32x32.gif
jre/lib/images/cursors/win32_LinkDrop32x32.gif
jre/lib/images/cursors/win32_LinkNoDrop32x32.gif
jre/lib/images/cursors/win32_MoveDrop32x32.gif
jre/lib/images/cursors/win32_MoveNoDrop32x32.gif
jre/lib/javafx.properties
jre/lib/javaws.jar
jre/lib/jce.jar
jre/lib/jfr.jar
jre/lib/jfr/default.jfc
jre/lib/jfr/profile.jfc
jre/lib/jfxswt.jar
jre/lib/jsse.jar
jre/lib/jvm.hprof.txt
jre/lib/logging.properties
jre/lib/management-agent.jar
jre/lib/management/jmxremote.access
jre/lib/management/jmxremote.password.template
jre/lib/management/management.properties
jre/lib/management/snmp.acl.template
jre/lib/meta-index
jre/lib/net.properties
jre/lib/plugin.jar
jre/lib/psfont.properties.ja
jre/lib/psfontj2d.properties
jre/lib/resources.jar
jre/lib/rt.jar
jre/lib/security/US_export_policy.jar
jre/lib/security/blacklist
jre/lib/security/blacklisted.certs
jre/lib/security/cacerts
jre/lib/security/java.policy
jre/lib/security/java.security
jre/lib/security/javaws.policy
jre/lib/security/local_policy.jar
jre/lib/security/trusted.libraries
jre/lib/sound.properties
jre/lib/tzdb.dat
jre/lib/tzmappings
jre/release
lib.zip
lib/AppleJavaExtensions.jar
lib/SI_VOX.jar
lib/asm-debug-all.jar
lib/jdom.jar
lib/jinput.jar
lib/libjinput-linux.so
lib/libjinput-linux64.so
lib/libjinput-osx.jnilib
lib/liblwjgl.jnilib
lib/liblwjgl.so
lib/liblwjgl64.so
lib/libopenal.so
lib/lwjgl-debug.jar
lib/lwjgl.jar
lib/lwjgl_test.jar
lib/lwjgl_util.jar
lib/lwjgl_util_applet.jar
lib/lzma.jar
lib/openal.dylib
lib/slick.jar
lib/sqlitejdbc-v056.jar
livraison/bin/DInfoWritor.jar
livraison/bin/DListor.zip
livraison/bin/compilation.bat
livraison/bin/entete.txt
livraison/bin/execution.jar
livraison/bin/executionJar.bat
livraison/bin/jre.zip
livraison/bin/lib.zip
