.list-cell{
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-margin: 0, 0;
}

.list-cell:selected{
    -fx-background-color: red;
}

.label{
    -fx-font-size: 80px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

